{% extends 'base.html' %}
{% load static %}
{% block title %}
  Профайл пользователя {{posts.author}}
 {% endblock %}
 {% block content %}
    
      <div class="container py-5">        
        <h1>Все посты пользователя {{posts.author}} </h1>
        <h3>Всего постов: {{posts.count}} </h3>   
        <article>
          <ul>
            {% csrf_token %}
            <li>
                {% for post in page_obj %}
                {% include 'includes/post_card.html' %}
                <p><a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a></p>
                {% if post.group %}  
                    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
                {% endif %}
                               
                {% if not forloop.last %}<hr>{% endif %}
              </article>
                {% endfor %}
                {% include 'includes/paginator.html' %}
          
        </div>
{% endblock %}